.slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 182px;
}

.slogan h2 {
    font-family: "SangBleu Kingdom R";
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    color: #3D3C3C;
}

.slogan h2 b {
    font-family: "SangBleu Kingdom B";
    font-weight: 700;
}

.slogan img {
    margin-top: 42px;
}

.slogan p {
    margin-top: 42px;
    font-family: "SangBleu Kingdom R";
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #333333;
}

.slogan button {
    margin-top: 42px;
}

.media {
    display: none;
}

@media (max-width: 360px) {
    .slogan {
        margin-top: 63px;
        margin-left: 16px;
    }
    .slogan h2 {
        font-size: 24px;
        line-height: 32px;
    }
    .slogan img {
        width: 37px;
        height: 24px;
        margin-top: 25px;
    }
    .slogan p {
        margin-top: 26px;
    }
    .desktop {
        display: none;
    }
    .media {
        display: block;
    }
    .slogan button {
        margin-top: 38px;
    }
}