.navLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 74px;
    margin-top: -8px;
    position: relative;
}

.stars {
    position: absolute;
    top: 60px;
    background: white;
}

@media (max-width: 360px) {
    .navLogo {
        margin-left: 69px;
    }
    .stars {
        display: none;
    }
}